* {
    box-sizing: border-box;
}

body {
    background: #EFEFEF;
    font-family: 'adobe clean';
    margin: 0;
}

main>div>h2, main>div>p {

    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.grid-3 {
    width: 98%;
    margin-left: 1%;
}

.grid-3>div {
    display: flex;
    gap: 10px 20px;

}

.grid-3 picture {
    overflow: hidden;
    height: 220px;
    display: inline-block;
}

.grid-3>div div img {
    max-width: 100%;
}
